* {
    background-color: rgba(0, 98, 65, 1);
    
}

header {
    /* This is a dice */

width: auto;
height: auto;
}

h1 {
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 60px;
/* or 120% */
display: grid;
align-items: center;
text-align: center;
letter-spacing: 2px;

color: #FFFFFF;

}

p {   
font-family: 'Inter';
font-style: normal;
font-size: 20px;
line-height: 60px;
/* or 120% */
display: grid;
align-items: center;
text-align: center;
letter-spacing: 2px;

color: #FFFFFF;
}

button {
    /* a.sb-button */

box-sizing: border-box;
position: relative;

/* border? */
display: grid;
padding: 8px 16.44px 7.19px 17px;

border: 1px solid #FFFFFF;
border-radius: 50px;
align-items: center;


/* words*/
display: grid;
align-items: center;
text-align: center;
letter-spacing: -0.16px; 

color: #FFFFFF;

}

.imageContainer {
    width: 400px;
    height: auto;
}

.imageContainer img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto;
}


